@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.woff2');
}
@font-face {
  font-family: 'Spectral';
  src: url('../fonts/spectral/Spectral-Regular.ttf');
}

body {
  background-color: #03a9f4;
  color: #eef;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Spectral', serif;
}

.bio img {
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 #000;
  width: 200px;
  max-width: 100%;
  margin-top: calc(10%);
}
.bio h1 {
  margin-bottom: 0;
  font-size: 2.28rem;
}
.bio h2 {
  margin-top: 0;
  font-size: 1.3rem;
}
.bio .links .link {
  display: inline-block;
  margin: 0 20px;
  font-size: 16px;
}
.bio .links .link a {
  color: #eee;
  text-decoration: none;
}

.portfolio h2 {
  font-size: 2.28rem;
  margin-bottom: 0;
}
.portfolio .sect h3 {
  font-size: 1.64rem;
  margin-top: 0;
  margin-bottom: 20px;
}
.portfolio .sect .prop {
  display: block;
  margin: 30px auto;
  width: 85%;
  background: #fff;
  padding: 24px;
  text-align: left;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: 0.1s ease-out all;
  text-decoration: none;
  color: #333;
}
.portfolio .sect .prop.feat {
  background-color: #6200EA;
  color: #eee;
}
.portfolio .sect .prop:hover {
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.14), 0 5px 75px 0 rgba(0,0,0,0.12), 0 15px 15px 0px rgba(0,0,0,0.2);
}
