#fsfimg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
}

.mdl-layout__content {
    background-color: #F9F9F9;
}

.center {
    display: block;
    margin: 16px auto;
}
.wide {
    width: 90%;
}
.wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('plain.png') center top no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 2px #000000;
}

.mdl-card__supporting-text {
    width: auto;
}

.mdl-card__media {
    background-color: #fff;
}

.blue {
    color: #2196F3;
}
