body {
  font-family: 'Roboto', sans-serif;
  background-color: #111;
  color: #fff;
  font-size: 125%;
}

a:link, a:visited {
  color: gold;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s all ease-in-out;
}
a:hover {
  color: lightyellow;
  transition: 0.2s all ease-in-out;
}

h1 {
  position: relative;
  color: gold;
  font-size: 24pt;
  padding: 32px 16px;
  text-shadow: 4px 4px 2px #000;
}
button {
  display: none;
}
.modal {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
  border: 1px solid gold;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 16px;
  padding: 5px;
}
.modal div {
  display: none;
}
.modal .card {
  display: block;
}
.modal h2 {
  padding: 8px 16px;
  color: gold;
}
.modal p {
  padding: 8px 16px;
}
.card {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
  border: 1px solid gold;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 16px;
  padding: 5px;
}
.grid {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: auto;
  align-content: space-around;
  justify-content: center;
}
.small {
  width: 150px;
  height: 150px;
  display: block;
  margin: 10px;
  transition: 0.25s all linear;
}
.small:hover {
  width: 175px;
  height: 175px;
  font-size: 120%;
  transition: 0.25s all linear;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}
.card h3 {
  color: gold;
}
.card h4 {
  color: lightyellow;
}

hr {
  border: none;
  border-top: 1px solid gold;
}

body.dk {
  overflow: hidden;
}
.dk h1 {
  position: fixed;
  font-size: 60pt;
  top: calc(50% - 96px);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 70%;
  text-align: center;
}
.nav a {
  text-decoration: none;
}
.nav-top, .nav-bottom {
  max-width: 100vw;
}
.nav-top {
  top: 5px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.nav-left, .nav-right {
  position: absolute;
  top: calc(50% - 25px);
  transform: translateY(-50%);
}
.nav-left {
  left: 5px;
}
.nav-right {
  right: 5px;
}
.dk .nav-right button {
  width: 200px;
}
.dk .nav-left button {
  width: 200px;
}
.nav-bottom {
  display: none;
}
.dk .nav-bottom {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(100vw - 10px);
}
.dk button {
  color: black;
  background-color: gold;
  border: none;
  font-size: 32pt;
  display: block;
  margin-bottom: 32px;
  box-sizing: border-box;
  border: 2px solid #111;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.dk .nav-top button, .dk .nav-bottom button {
  display: inline-block;
  margin-right: 16px;
}
.dk .nav-left button, .dk .nav-right button {
  margin-top: 32px;
}
.close {
  position: absolute;
  font-size: 21pt;
  top: 0;
  right: 0;
}
.dk button:hover {
  border: 2px solid lightyellow;
}
.dk button:active {
  background-color: lightyellow;
}

.dk .modal {
  position: fixed;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  color: #fff;
  border: 1px solid gold;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  display: none;
  overflow: auto;
}
.dk .modal div {
  display: block;
  position: relative;
}
button:focus {
  outline: none;
}
